// ### TW START ###

// ### FLEX START ###
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-grow {
  flex-grow: 1;
}

.flex-grow-0 {
  flex-grow: 0;
}

// ### FLEX END ###

// ### GRID START ###

.grid {
  display: grid;
}

// ### GRID END ###

// ### ALL WIDTH START ###

// ### WIDTH START ###

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.\w-1\/2 {
  width: 50%;
}

// ### WIDTH END ###

// ### MIN-WIDTH START ###

.min-w-0 {
  min-width: 0;
}

.min-w-full {
  min-width: 100%;
}

// ### MIN-WIDTH END ###

// ### MAX WIDTH START ###

.max-w-0 {
  max-width: 0rem;
}

.max-w-2xl {
  max-width: 42rem;
}

.max-w-3xl {
  max-width: 48rem;
}

.max-w-4xl {
  max-width: 56rem;
}

.max-w-5xl {
  max-width: 64rem;
}

.max-w-6xl {
  max-width: 72rem;
}

.max-w-7xl {
  max-width: 80rem;
}

.max-w-fit {
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.max-w-full {
  max-width: 100%;
}

.max-w-lg {
  max-width: 32rem;
}

.max-w-max {
  max-width: 100%;
}

.max-w-md {
  max-width: 28rem;
}

.max-w-min {
  max-width: -moz-min-content;
  max-width: min-content;
}

.max-w-none {
  max-width: none;
}

.max-w-prose {
  max-width: 65ch;
}

.max-w-screen-2xl {
  max-width: 1536px;
}

.max-w-screen-lg {
  max-width: 1024px;
}

.max-w-screen-md {
  max-width: 768px;
}

.max-w-screen-sm {
  max-width: 640px;
}

.max-w-screen-xl {
  max-width: 1280px;
}

.max-w-sm {
  max-width: 24rem;
}

.max-w-xl {
  max-width: 36rem;
}

.max-w-xs {
  max-width: 20rem;
}

// ### MAX WIDTH END ###

// ### ALL WIDTH END ###

// ### ALL HEIGHT START ###

// ### HEIGHT START ###

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.h-1\/2 {
  height: 50%;
}

// ### HEIGHT END ###

// ### MIN-HEIGHT START ###

.min-h-0 {
  min-height: 0;
}

.min-h-full {
  min-height: 100%;
}

// ### MIN-HEIGHT END ###

// ### MAX HEIGHT START ###

.max-h-0 {
  max-height: 0rem;
}

.max-h-2xl {
  max-height: 42rem;
}

.max-h-3xl {
  max-height: 48rem;
}

.max-h-4xl {
  max-height: 56rem;
}

.max-h-5xl {
  max-height: 64rem;
}

.max-h-6xl {
  max-height: 72rem;
}

.max-h-7xl {
  max-height: 80rem;
}

.max-h-fit {
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.max-h-full {
  max-height: 100%;
}

.max-h-lg {
  max-height: 32rem;
}

.max-h-max {
  max-height: 100%;
}

.max-h-md {
  max-height: 28rem;
}

.max-h-min {
  max-height: -moz-min-content;
  max-height: min-content;
}

.max-h-none {
  max-height: none;
}

.max-h-prose {
  max-height: 65ch;
}

.max-h-screen-2xl {
  max-height: 1536px;
}

.max-h-screen-lg {
  max-height: 1024px;
}

.max-h-screen-md {
  max-height: 768px;
}

.max-h-screen-sm {
  max-height: 640px;
}

.max-h-screen-xl {
  max-height: 1280px;
}

.max-h-sm {
  max-height: 24rem;
}

.max-h-xl {
  max-height: 36rem;
}

.max-h-xs {
  max-height: 20rem;
}

// MAX HEIGHT END ###

// ### ALL HEIGHT END ###

// ### OVERFLOW START ###

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-x-visible {
  overflow-x: visible;
}

.overflow-y-visible {
  overflow-y: visible;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-auto {
  overflow: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

// ### OVERFLOW END ###

// ### VISIBILITY START ###

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.hidden {
  display: none;
}

// ### VISIBILITY END ###

// ### Z-INDEX START ###

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.z-auto {
  z-index: auto;
}

// ### Z-INDEX END ###

// ### POSITION START ###

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.static {
  position: static;
}

// ### POSITION END ###

// ### ALL MARGINS START ###

// ### MARGIN START ###

.m-2 {
  margin: 0.5rem;
}

.m-4 {
  margin: 1rem;
}

.m-6 {
  margin: 1.5rem;
}

.m-8 {
  margin: 2rem;
}

.m-16 {
  margin: 4rem;
}

.m-auto {
  margin: auto;
}

// ### MARGIN END ###

// ### MARGIN TOP START ###

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-auto {
  margin-top: auto;
}

// ### MARGIN TOP END ###

// ### MARGIN BOTTOM START ###

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mb-auto {
  margin-bottom: auto;
}

// ### MARGIN BOTTOM END ###

// ### MARGIN LEFT START ###

.ml-2 {
  margin-left: 0.5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.ml-8 {
  margin-left: 2rem;
}

.ml-16 {
  margin-left: 4rem;
}

.ml-auto {
  margin-left: auto;
}

// ### MARGIN LEFT END ###

// ### MARGIN RIGHT START ###

.mr-2 {
  margin-right: 0.5rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mr-16 {
  margin-right: 4rem;
}

.mr-auto {
  margin-right: auto;
}

// ### MARGIN RIGHT END ###

// ### MARGIN X START ###

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-16 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

// ### MARGIN X END ###

// ### MARGIN Y START ###

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

// ### MARGIN Y END ###

// ### ALL MARGINS END ###

// ### ALL PADDING START ###

// ### PADDING X START ###

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-16 {
  padding-left: 4rem;
  padding-right: 4rem;
}

// ### PADDING X END ###

// ### PADDING Y START ###

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

// ### PADDING Y END ###

// ### ALL PADDING END ###

// ### GAP START ###

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

// ### GAP END ###

// ### TW END ###

// ### CUSTOM START ###

.squircle {
  position: relative;
  border-radius: 0.375rem;
  mask: paint(squircle);
}

// ### CUSTOM END ###
