/* flex */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

/* padding */
.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

/* margin */
.m-2 {
  margin: 0.5rem;
}

/* width */
.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.w-1\/2 {
  width: 50%;
}

/* height */
.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.h-1\/2 {
  height: 50%;
}

/* border */
.border-b {
  border-bottom: 1px solid;
}

.border-r {
  border-right: 1px solid;
}

/* border-radius */
.rounded-lg {
  border-radius: 0.5rem;
}

/* box-shadow */
.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* text-align */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* font-size */
.text-sm {
  font-size: 0.875rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}
